.login{
    margin-top: 120px;
    display: flex;
    padding: 5px;
    border: 2px solid black;
}
.loginForm{
    border: 1px solid black;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formInput{
    display: flex;
    justify-content: space-between;
    gap: 5px;

}

#submit{
    margin: auto;
    
}

#btn{
    cursor: pointer;
    background-color: rgb(16, 193, 16);
    border: none;
    padding: 3px 8px;
    border-radius: 3px;
}
#btn:active{
    opacity: .5;
}